* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

/*////////////\\\\\\\\\\*/
/*//////////// UTILIES SECTION \\\\\\\\\\*/
/*////////////\\\\\\\\\\*/

:root {
    --primary-color: #262322;
    --secondary-color: #5448C8;
    --primary-font-color: #FFFBFF;
}

body {
    background-color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;

}

p,
a {
    color: var(--primary-font-color);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.m_b_1 {
    margin: 0 0 .5em 0;
}

.btn {
    display: block;
    border: solid 2px var(--secondary-color);
    border-radius: 4px;
    padding: .5em;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--primary-font-color);
    font-weight: 600;
    max-width: 10em;
}

.btn_trans {
    background-color: transparent;
}

/*////////////\\\\\\\\\\*/
/*//////////// RANDOM SECTION \\\\\\\\\\*/
/*////////////\\\\\\\\\\*/

.grid_container {
    /*display: block;*/
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 70%;

    gap: 1.5rem;
    padding-block: 2rem;
    /*width: 95%;*/
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
}

.item {
    padding: 2em;
    border-radius: 0.5rem;
    border: 2px solid var(--secondary-color);
    margin-bottom: 1rem;
    height: 100%;
    
}

.item:nth-child(2) {
    grid-column: span 3;
}

.item:nth-child(3) {
    grid-column: span 3;
}

@media (max-width: 70em) {
    .grid_container{
        display: block;
        width: 95%;
    }
}


/*////////////\\\\\\\\\\*/
/*//////////// ABOUT SECTION \\\\\\\\\\*/
/*////////////\\\\\\\\\\*/

.about_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 1rem;
    line-height: 1.5;
}

.about_header{
    grid-column: span 2;
    
    margin-bottom: 2rem;
}

.ownership_title{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.ownership_flex {
    display: flex;
    width: 70%;
    margin: 0 auto;
    gap: 1rem;
    justify-content: center;
    align-content: center;
}

.box {
    width: 80%;
    padding: 1.5rem;
    background-color: var(--primary-font-color);
    border-radius: 10px;;
    text-align: center;
    line-height: 1.3;
}

.box h3 {
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.box p {
    color: black;
}

/*////////////\\\\\\\\\\*/
/*//////////// HERO SECTION \\\\\\\\\\*/
/*////////////\\\\\\\\\\*/

.hero {
    background-image: url(../IMG/3163.svg);
    height: 100vh;
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.3);

}

.header_grid {
    display: grid;
    align-content: center;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.header_grid i {
    color: var(--primary-font-color);
}

.header_text {
    padding: 2em;
    border-radius: 0.5rem;
    justify-self: center;
    line-height: 1.5;
}

.header_text h1 {
    font-size: 3rem;
}

.header_text p {
    font-size: 1.3rem;
    margin: 0 0 1rem 0;
}

.header_buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.section_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 1.5rem;
}

@media (min-width: 50em) {
    

    .header_grid {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        align-content: center;
        height: 100%;
        margin: 0 auto;
        padding: 1em;
        border-radius: 0.5rem;
        text-align: center;
    }

    .header_text {
        box-shadow: inset 0px 0px 40px 40px #161615;
        padding: 2em;
        border-radius: 0.5rem;
        -webkit-box-shadow: 0px 0px 100px 100px #000000;
        /* WebKit */
        -moz-box-shadow: 0px 0px 100px 100px #000000;
        /* Firefox */
        box-shadow: 0px 0px 100px 100px #000000;
        /* Standard */
        justify-self: start;
        line-height: 1.5;
    }

    .header_img {
        -webkit-box-shadow: 0px 0px 100px 100px #000000;
        /* WebKit */
        -moz-box-shadow: 0px 0px 100px 100px #000000;
        /* Firefox */
        box-shadow: 0px 0px 100px 100px #000000;
        /* Standard */
        justify-self: end;
        background-image: url(../IMG/NFTs/DevilTransparent.png);
        background-size: cover;
        background-position: center;
        height: 32vh;
        width: 300px;
        border-radius: 4px;
    }
}

/*////////////\\\\\\\\\\*/
/*//////////// NAVIGATION SECTION \\\\\\\\\\*/
/*////////////\\\\\\\\\\*/

.nav {
    display: flex;
    justify-content: space-between;
    color: var(--primary-font-color);
    width: 100%;
    align-items: center;
    line-height: 2;
    position: fixed;
    z-index: 1;
    padding: 0px 10%;
}

.nav_wrapper {
    display: flex;
    list-style-type: none;
    gap: 1em;
}

.social_nav_links ul {
    display: flex;
    list-style-type: none;
    gap: .5em;
}

.social_nav_links i {
    color: var(--primary-font-color);
}

/*////////////\\\\\\\\\\*/
/*//////////// TEAM SECTION \\\\\\\\\\*/
/*////////////\\\\\\\\\\*/

.team {
    background-image: url(../IMG/4884450.svg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.3);
}

.team_grid_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: 0 auto;
    gap: 1.25rem;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.team_grid_items {
    width: 90%;
    box-shadow: 0px 0px 50px var(--secondary-color);
    -moz-box-shadow: 0 0 50px var(--secondary-color)#fff;
    -webkit-box-shadow: 0 0 50px var(--secondary-color);
    box-shadow: 0px 0px 50px var(--secondary-color);
    padding: 2.5rem 1.25rem;
    line-height: 1.25;
    border-radius: 4rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.team_grid_items h3 {
    margin-bottom: .75rem;
    line-height: 1.75rem;
    color: var(--primary-font-color);
}

.team_grid_items p {
    color: var(--primary-font-color);
    text-transform: none;
}

.team_socials {
    display: flex;
    justify-content: center;
    gap: .5rem;
    font-size: 1.3rem;
    margin-top: .75rem;
}

.invisible {
    visibility: hidden;
}

i {
    color: var(--secondary-color)
}

@media (max-width: 80em) {
    .team_grid_container {
        grid-template-columns: repeat(2, 1fr);
        width: 95%;
        margin-top: 1.5rem;
    }
    .team_grid_items {
        width: 90%;
    }
}

/*////////////\\\\\\\\\\*/
/*//////////// MOBILE SECTION \\\\\\\\\\*/
/*////////////\\\\\\\\\\*/



@media (max-width: 50em) {
    .flex_container {
        display: block;
    }

    .team_grid_container {
        display: block;
        width: 95%;
        margin-top: 1.5rem;
    }

    .nav {
        visibility: hidden;
    }
}





.nft_header {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 3rem;

}

.nft_header h1 {
    font-size: 3rem;
    color: var(--primary-font-color);
}

.nft_buttons {
    display: flex;
    width: 100%;
    justify-content: center;
}

.nft_btn {
    display: block;
    border: solid 2px var(--secondary-color);
    border-radius: 4px;
    padding: 1rem;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--primary-font-color);
    font-weight: 500;
    font-size: 2rem;
    margin-top: 4rem;
}